Repository eliseuvideira/rest-api-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings=0

:package: upgraded packages
  package.json
  yarn.lock
Due: prettier --check

:wrench: added .env comment
  .env.example
Due: none

:wrench: modified docker scripts to use bash scripts + fixed environment variables
  .dockerignore
  .env.example
  docker-compose.yml
  package.json
  scripts/docker
  scripts/docker-build
  scripts/docker-push
  scripts/docker.js
  scripts/get-version
  src/env.d.ts
  yarn.lock
Due: prettier --check, eslint --max-warnings=0

:wrench: fixed prettier error
  test/request.ts
Due: prettier --check, eslint --max-warnings=0

:wrench: improved shell scripts
  scripts/docker
  scripts/docker-build
  scripts/docker-push
  scripts/get-version
Due: none

:wrench: small changes
  .env.example
  package.json
  src/env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --check, eslint --max-warnings=0

:wrench: improving docker build
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --check

:wrench: fixed swagger-ui
  Dockerfile
  tsconfig.json
Due: prettier --check

:wrench: improved docker build
  Dockerfile
  package.json
Due: prettier --check

:sparkles: updated setup
  .dockerignore
  LICENSE
  package.json
Due: prettier --check

:sparkles: added remove-jest.diff
  remove-jest.diff
Due: none

:wrench: fixed git attributes
  .gitattributes
Due: none

:package: upgraded packages
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --check

Path conditions:
  prettier --check: any of: *.{js,ts,json}
  eslint --max-warnings=0: any of: *.ts
